* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sometype Mono", monospace;
}

/* Header */
.top_bar {
    text-align: center;
    padding: 30px;
    background-color: #dcdddd;
    font-weight: bold;
}

.top_bar h1 {
    font-family: 'Edu TAS Beginner', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 3px;
   
}

/* Board con sfondo di sughero */
.board {
    min-height: 100vh;
    background-image: url("img/cork.png");
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}