* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sometype Mono", monospace;
}

.top_bar {
    text-align: center;
    padding: 30px;
    background-image: url("img/wall.png");
    font-weight: bold;
}

.top_bar h1 {
    font-family: "Edu TAS Beginner", sans-serif;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 3px;

}

.board {
    min-height: 100vh;
    background-image: url("img/cork.png");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.board .row {
    margin-top: 10px;
}

/* 
.container {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
*/
.polaroid {
  cursor: pointer;  
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.polaroid:hover {
  transform: translateY(-10px) rotate(8deg); 
}


.polaroid_inner {
    background-color: white;
    max-width: 320px;
    margin: 0 auto 0;
    padding: 20px 20px 5px;
    position: relative;
}

.polaroid_inner::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-image: url("img/pin.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.polaroid_img {
    display: block;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.polaroid_caption span {
    display: block;
}

.polaroid_date {
    font-family: "Sometype Mono", monospace;
    font-size: 1rem;
    color: gray;
}

.polaroid_title {
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;

    text-transform: uppercase;
    color: black;
}

.overlay {
  display: none;            
  position: fixed;
  z-index: 1000;
  inset: 0;                  
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay_content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
  top: 50%;
  transform: translateY(-50%);
  animation: fadeIn 0.3s ease;
}

#overlay_img {
  width: 100%;
  height: auto;
  max-width: 500px; 
  max-height: 80vh;  
  object-fit: contain;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

.close_btn {
  position: absolute;
  top: -35px;       
  left: 50%;          
  transform: translateX(-50%);
  color: black;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
  user-select: none;
  z-index: 1001;
}

.close_btn:hover {
  color: #ccc;
  transform: translateX(-50%) scale(1.1);  
}
